a{
	text-decoration: none;
}

body{
	font-family: 'Lato', sans-serif;
}

figure{
	margin: 0 !important;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif;
}

h1{
	color: #FF5722;
	font-size: 50px !important;
	text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}


.content{
	text-align: center;
}

.cover{
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: url(../images/cover.jpg);
	display: flex;
	height: 100vh;
	justify-content: center;
}

.icon{
	animation: float 1.5s ease-out infinite;
	color: white;
	font-size: 80px !important;
}

.info{
	background-color: #212121;
	color: white;
	padding: 20px;
}

.info-2{
	background-color: #2196F3;
	color: white;
	padding: 20px;
}

.info-3{
	background-color: #B6B6B6;
	color: white;
	padding: 20px;
}

.info-3 .block {
	background-color: #2196F3;
	margin-bottom: 1em;
	padding: 1em;
	border-radius: 4px;
}

.info ul li {
	list-style: decimal inside;
	font-size: 3em;
	padding: 0.4em;
	background-color: #2196F3;
	margin: 20px 0;
}

.lista {
	display: flex;
	justify-content: center;
}

.info a {
	color: white;
}

.info h2{
	font-size: 50px;
	margin: 15px 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.infoContent{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.infoContent .block h3{
	font-size: 25px;
	margin: 5px 0 10px 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #1976D2;
	text-shadow: 1px 1px 4px #BBDEFB;
}

.infoContent .block h3 a {
	color: #1976D2 ;
}

.infoContent .block{
	padding: 8px;
	width: 100%;
}

.infoContent .block .icon-social{
	font-size: 70px;
}

.btn{
	padding: 10px 30px;
	border-radius: 5px;
	background-color: #FF5722;
	color: white;
	margin: 10px 0;
	display: inline-block;
	transition: 0.3s;
}

.btn:hover{
	transform: scale(1.2);
	letter-spacing: 3px;
	color: white;
}

/* Estilos de perfil del tutor*/

.cajas {
	width: 40%;
	float: left;
	height: 300px;
	margin:2em 0; 
	top: 0;
}

.cajas a {
	color: white;
	margin-left: 0.4em;
}

.imagen {
	text-align: center;
}

.imagen img {
	width: 280px;
	padding: 10px;
	background-color: white;
	border-radius: 4px;
	text-align: center;

}

.relleno {
	clear: both;
}

.margin-left {
	margin-left: 2em;
}

/* Estilos de las clases*/

.clase h3 a {
	color: #FF5722 !important;
}


/*Animación*/
@keyframes float {
	50% {
		transform: translate(0, 20px);
	}
}

/* Media queries*/
@media all and (min-width: 769px){
	h1{
		font-size: 100px !important;
	}

	.infoContent .block{
		width: 30%;
	}
}
